*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.primary-header {
  margin-top: 5%;
  border: 1px solid black;
}

.primary-nav {
  border: 1px solid red;
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 22px 0 22px 0;
}

.banner {
  color: #fff;
  line-height: 44px;
  padding: 0 80px 66px 80px;
  text-align: center;
  padding-top: 5%;
}

.banner h2 {
  font-size: 36px;
}

.banner h3 {
  font-size: 24px;
  font-weight: 100;
}

.iphone-ads {
  display: flex;
  flex-direction: row;
}

.iphone-ads-image {
  margin-right: 2px;
}

.iphone-ads-image-4 img,
.iphone-ads-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apple-footer {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #777;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.apple-footer a {
  text-decoration: none;
  color: blue;
}

.apple-footer-div {
  width: 50%;
  border: 1px solid green;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.apple-footer-div-text a {
  color: rgb(0, 136, 204);
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  padding-left: 0.4rem;
}

.footer-copyright a {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  color: rgb(0, 136, 204);
}

.apple-footer-div-text {
  line-height: 1.5rem;
}

.bg-image {
  border: 1px solid black;
  height: 550px;
  background: url("../images/your_verse_hero.jpg") 50% 100% no-repeat;
}
